.footer-container{
    background-color: #0D1B2A;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-top{
    padding: 35px 60px;
    margin: 0;
    margin: 10px;
}

.icons{
    float: left;
}

.icons svg{
    padding-right: 5px;
}

.newsletter{
   float: right;
}

.newsletter span{
    color: #778DA9;
    float: left;
    padding: 15px;
}

.newsletter-input-area{
    border-radius: 5px;
    background-color: #C4C4C4;
    height: 40px;
    width: 465px;
    float: right;
}

.newsletter-button{
    border-radius: 5px;
    background-color: #415A77;
    color: #C4C4C4;
    float: right;
    height: 100%;
    margin: 0;
    width: auto;
    padding: 10px;
    text-align: center;
    border: none;
    font-size: 20px;
}

.newsletter-input{
    background-color: transparent;
    color: #415A77;
    padding-left: 5px;
    padding-right: 5px;
    /* min-width: auto; */
    /* float: left; */
    border: none;
    height: 100%;
    font-weight: normal;
    width: auto;
    clear: both;
}