.container-image{
    position: relative;
}
.hero-image {
    background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/assassins-creed-valhalla-pdp-hero-01-ps4-17jul20$en?$native$");
    height: 538px;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.floating-bar{
    position: relative;
}

.hero-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    pointer-events: none;
}

 